<% content_for :title do %>
  <title>Polar Bear</title>
<% end %>

<% content_for :head do %>
  <h1>The Mighty Hunter</h1>
<% end %>

<% content_for :img do %>
  <div><img class="img-polaroid" src="img/Polar_Bear,_Churchill,_Manitoba,_Canada..jpg" alt="Polar Bear" height="322" width="325"></div>
  <p>Copyright to Teresa. Link to <a href="http://creativecommons.org/licenses/by/2.0/legalcode">license</a>.</p>
<% end %>

<% content_for :content do %>
  <p class="lead">Polar bears are fierce, huge and powerful! With their pelt as white as snow they blend into the enviornment as they search for food. They burrow into the ice to make little caves to hide and protect their young. Just like their cousins, don't mess with a mama polar bear. You may not like the results!</p>
<% end %>

<% content_for :header do %>
    <h1><strong>THE PROTECTORS</strong></h1>
<% end %>